<% 
    selectBoxHelper = (name,items,optionSelected = '') => {
        let xhtml     = '';
         items.forEach((item) => {
             let selected = (item.id == optionSelected) ? `selected="selected"` : '';
             let id = (item.id == undefined) ? 'novalue' : item.id;
                xhtml += `<option value="${id}" ${selected} >${item.name}</option>`;
           
      });
        return `<select name="${name}"  class="modal-title">${xhtml}</select>`;
     
    }
%>
