<% 
    statusHelper = (collection, status, id) => {
        let xhtmlStatus = '';
        let link       = systemConfig.admin + '/' + collection + '/change-status/' + id + '/' + status ;
        if(status === "active") {
            xhtmlStatus = '<span class="btn btn-info">active</span>';
        }else if (status === "inactive") {
            xhtmlStatus = '<span class="btn btn-warning">inactive</span>';
        }

        return `<a href="${link}">${xhtmlStatus}</a>`;
    }
%>
